<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous">

    <!-- CSS ANIMATIONS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>

   <link rel="stylesheet" href="stylesheets/table.css"/>

 <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75% !important;
    margin:auto;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    text-overflow:ellipsis;
	  overflow: hidden;
    max-width: 200px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>

</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark animate__animated animate__slideInDown animate__fast">
    <a class="navbar-brand" href="/ticket/<%= @user.id %>">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/ticket/<%=@user.id%>/create_tickets">Create Ticket<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ticket/<%=@user.id%>/all_tickets">All Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ticket/<%=@user.id%>/logout">Logout</a>
        </li>      
      </ul>
    </div>
  </nav>

   <!-- JQuery Popper Bootstrap -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>

<div class="heading animate__animated animate__slideInDown animate__fast" >
<div class="card-body">
 <h6 class = "card-title">
  welcome : <%=@user.name%><br>
  your employee id is : <%= @user.id%></h6>
  <h1 class = "animate__animated animate__slideInDown animate__fast" >Here are your tickets:</h1>
</div>
</div>



<div class="table-responsive">
  <table class = "table">
    <thead class = "thead-dark">
      <tr>
          <th scope="col">Ticket ID</th>
          <th scope="col">Ticket Title</th>
          <th scope="col">Ticket Details</th>
          <th scope="col">Owned By</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Read</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <%count = 0%>
      <% @user.tickets.reverse.each do |ticket| %>
          <tr>
          <td><%=ticket.id%></td>
          <td><%=ticket.title%></td>
          <td><%=ticket.details%></td>
          <td><%=ticket.employee.name%></td>
          <td><%=ticket.created_at%></td>
          <td><%=ticket.updated_at%></td>
          <td><a href ="/ticket/<%=@user.id%>/read_ticket/<%=ticket.id%>">Read</a></td>
          <td><a href ="/ticket/<%=@user.id%>/update_ticket/<%=ticket.id%>">Update</a></td>
          <td><a href = "/ticket/<%=@user.id%>/delete_ticket/<%=ticket.id%>">Delete</a></td>
          <%count += 1%>
          </tr>
      <%end%>
      </tbody>
  </table>
</div>
  </body>
</html>