<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


welcome : <%=@user.username%><br>
your employee id is : <%= @user.id%><br>
<a href=create_tickets>create ticket</a>
<br><br>
Here are your tickets:<br>

<table>
    <tr>
        <th>Ticket ID</th>
        <th>Ticket Title</th>
        <th>Ticket Details</th>
        <th>Owned By</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Read</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <%count = 0%>
    <% @user.tickets.reverse.each do |ticket| %>
        <tr>
        <td><%=ticket.id%></td>
        <td><%=ticket.title%></td>
        <td><%=ticket.details%></td>
        <td><%=ticket.employee.username%></td>
        <td><%=ticket.created_at%></td>
        <td><%=ticket.updated_at%></td>
        <td><a href =read_ticket/<%=ticket.id%>>Read</a></td>
        <td><a href =update_ticket/<%=ticket.id%>>Update</a></td>
        <td><a href = delete_ticket/<%=ticket.id%>>Delete</a></td>
        <%count += 1%>
        </tr>
    <%end%>
</table>

<br>
<a href=all_tickets>Here are all the tickets:</a> <br>
<a href=logout>logout</a>
