<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

        <!-- CSS ANIMATIONS -->
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />

    </head>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark animate__animated animate__slideInDown animate__fast">
    <a class="navbar-brand" href="/dynamic/<%= @user.id %>/<%= @user.sesh_id %>/welcome">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dynamic/<%=@user.id%>/<%=@user.sesh_id%>/create_tickets">Create Ticket<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dynamic/<%=@user.id%>/<%=@user.sesh_id%>/all_tickets">All Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dynamic/<%=@user.id%>/<%=@user.sesh_id%>/logout">Logout</a>
        </li>      
      </ul>
    </div>
  </nav>

         <!-- JQuery Popper Bootstrap -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>

      <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .card {
        margin-left:20px;
        width: 800px;
      }

      </style>
<div class="table-responsive">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title" style="text-decoration: underline;">Ticket ID</h5>
          <p class = "text-muted"><%=@ticket.id%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
          <h5 style="text-decoration: underline;">Ticket Title</h5>
          <p class = "text-muted"><%=@ticket.title%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
      <h5 style="text-decoration: underline;">Ticket Details</h5>
      <p class = "text-muted"><%=@ticket.details%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
          <h5 style="text-decoration: underline;">Owned By</h5>
          <p class = "text-muted"><%=@ticket.employee.username%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">      
          <h5 style="text-decoration: underline;">Created At</h5>
          <p class = "text-muted"><%=@ticket.created_at%></p>
        </div>
      </div>

      <div class="card" >
        <div class="card-body">
          <h5 style="text-decoration: underline;">Updated At</h5>
          <p class = "text-muted"><%=@ticket.updated_at%></p>
        </div>
      </div>

      <%if @ticket.employee.id == @user.id%>

        <div class="card" >
          <div class="card-body">
            <h5 style="text-decoration: underline;">Update</h5>
            <a class="btn btn-primary" href="/dynamic/<%= @user.id %>/<%= @user.sesh_id %>/update_ticket/<%=@ticket.id%>" role="button">Update</a>

          </div>
        </div>
        
          <div class="card" >
            <div class="card-body">
            <h5 style="text-decoration: underline;">Delete</h5>
            <a class="btn btn-danger" href = "/dynamic/<%= @user.id %>/<%= @user.sesh_id %>/delete_ticket/<%=@ticket.id%>" role="button">Delete</a>
          </div>
        </div>
      
      <%end%>
 </div>
</html>