this is the page where a user can find more information about a particular ticket
<br>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>



<h3 style="text-decoration: underline;">Ticket ID</h3>
<p><%=@ticket.id%></p>

<h3 style="text-decoration: underline;">Ticket Title</h3>
<p><%=@ticket.title%></p>

<h3 style="text-decoration: underline;">Ticket Details</h3>
<p><%=@ticket.details%></p>

<h3 style="text-decoration: underline;">Owned By</h3>
<p><%=@ticket.employee.username%></p>

<h3 style="text-decoration: underline;">Created At</h3>
<p><%=@ticket.created_at%></p>

<h3 style="text-decoration: underline;">Updated At</h3>
<p><%=@ticket.updated_at%></p>

<h3 style="text-decoration: underline;">Delete</h3>
<p><a href =>Delete</a></p>

======================================<br>
<br>

<a href="/dynamic/<%= @user.id %>/<%= @user.sesh_id %>/welcome">Here are all the tickets the user is working on</a><br>
<a href="/dynamic/<%= @user.id %>/<%= @user.sesh_id %>/logout">logout</a>